/.vs/*
/obj
/obj/Bc3-WPF_dckpueyv_wpftmp.csproj.nuget.dgspec.json
/obj/Bc3-WPF_dckpueyv_wpftmp.csproj.nuget.g.props
/obj/Bc3-WPF_dckpueyv_wpftmp.csproj.nuget.g.targets
/obj/Debug/net8.0-windows
/obj/Debug/net8.0-windows/Bc3-WPF_dckpueyv_wpftmp.AssemblyInfo.cs
/obj/Debug/net8.0-windows/Bc3-WPF_dckpueyv_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/Bc3-WPF_dckpueyv_wpftmp.assets.cache
/obj/Debug/net8.0-windows/Bc3-WPF_dckpueyv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0-windows/Bc3-WPF_dckpueyv_wpftmp.GlobalUsings.g.cs
/obj/Debug/net8.0-windows/Bc3-WPF_dckpueyv_wpftmp.sourcelink.json
/obj/Debug/net8.0-windows/Screens
/obj/Debug/net8.0-windows/Screens/Comparator.g.cs
/obj/Debug/net8.0-windows/Screens/Comparator.g.i.cs
/obj/Debug/net8.0-windows/Screens/Page1.g.i.cs
/obj/Debug/net8.0-windows/Screens/UserControl1.g.cs
/obj/Debug/net8.0-windows/Screens/UserControl1.g.i.cs
/Screens
/Screens/Comparator.xaml
/Screens/Comparator.xaml.cs
/Screens/UserControl1.xaml
/Screens/UserControl1.xaml.cs
